#header{
    position: absolute;
width: 1365px;
height: 120px;
left: 0px;
top: 0px;
background: #15523A;
}
.img{
    position: absolute;
    left:100px;
    height:70px;
    width:100px;
    top:20px;
}

.home{
    position: absolute;
    left: 350px;
    top: 35px;
    color:white;
}
.about{
    position: absolute;
    left: 450px;
    top: 35px;
    color:white;
}
.create{
    position: absolute;
    left: 550px;
    top: 35px;
    color:white;
}
.sign{
    position: absolute;
    left: 750px;
    top: 35px;
    color:white;
}
.price{
    position: absolute;
    left: 950px;
    top: 35px;
    color:white; 
}
.login{
    position: absolute;
    left: 1020px;
    top: 35px;
    color:white; 
}
.button{
    position: absolute;
    width:200px;
    height:50px;
    left: 1120px;
    top: 25px;
    background: #2DAE7A;
border-radius: 1000px;
color:white;
text-align:center;
padding-top: 10px;

}
.real{
    position:absolute;
    font-family: Teko;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 54px;
color: #15523A;
margin: 20px 0px;
top:100px;
left:550px;
}
.body{
    position:absolute;
    width: 1365px;
    height: 500px;
    background-color: white;
    top:120px;
}
.first{
    position: absolute;
width: 570px;
height: 336px;
left: 100px;
top: 200px;

background: #E8FFF6;
border-radius: 20px;

}
.second{
    position: absolute;
    width: 570px;
    height: 336px;
    left: 700px;
    top: 200px;
    
    background: #E8FFF6;
    border-radius: 20px;
    
}
.img2{
    position: absolute;
left: 30px;
top: 10px;
border-radius: 5px;
transform: rotate(28.08deg);
}
.para{
    position: absolute;
left: 80px;
top: 124px;
font-family: Teko;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 32px;
letter-spacing: 0.2px;
color: #000000;
}
.para1{
    position: absolute;
left: 80px;
top: 180px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 16px;
letter-spacing: 0.1px;
color: #7B7C81;
}
.third{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
position: absolute;
width: 321px;
height: 58px;
left: 80px;
top: 272px;
}
.button2{
    position: absolute;
width: 192px;
height: 58px;
left: 0px;
background: #2DAE7A;
padding-top: 17px;
border-radius: 1000px;
}
.para2{
    position: absolute;
left: 206px;
top: 21px;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 16px;
text-align: center;
letter-spacing: 0.1px;
text-transform: uppercase;
color: #2B2B2B;

}
.img3{
    position: absolute;
    left: 30px;
    top: 10px;
border-radius: 5px;
transform: rotate(28.08deg);
}
.para3{
    position: absolute;
    left: 80px;
    top: 124px;
    font-family: Teko;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #000000;   
}
.para4{
    position: absolute;
left: 80px;
top: 180px;
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 16px;
letter-spacing: 0.1px;
color: #7B7C81;
}
@media only screen and (max-width: 576px) {
    /* For mobile phones: */
    #header{
        position: absolute;
    width: 760px;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #15523A;
    }
    .img{
        position: absolute;
        left: 0px;
        height:70px;
        width:100px;
        top:20px;
    }
    
    .home{
        position: absolute;
        left: 120px;
        top: 35px;
        color:white;
    }
    .about{
        position: absolute;
        left: 170px;
        top: 35px;
        color:white;
    }
    .create{
        position: absolute;
        left: 230px;
        top: 35px;
        color:white;
    }
    .sign{
        position: absolute;
        left: 370px;
        top: 35px;
        color:white;
    }
    .price{
        position: absolute;
        left: 500px;
        top: 35px;
        color:white; 
    }
    .login{
        position: absolute;
        left: 560px;
        top: 35px;
        color:white; 
    }
    .button{
        position: absolute;
        width:150px;
        height:50px;
        left: 600px;
        top: 25px;
        background: #2DAE7A;
    border-radius: 1000px;
    color:white;
    text-align:center;
    padding-top: 0px;
    
    }
    .real{
        position:absolute;
        font-family: Teko;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 54px;
    color: #15523A;
    margin: 20px 0px;
    top:100px;
    left:250px;
    }
    .body{
        position:absolute;
        width: 760px;
        height: 960px;
        background-color: white;
        top:120px;
    }
    .first{
        position: absolute;
    width: 570px;
    height: 336px;
    left: 100px;
    top: 200px;
    
    background: #E8FFF6;
    border-radius: 20px;
    
    }
    .second{
        position: absolute;
        width: 570px;
        height: 336px;
        left: 100px;
        top: 580px;
        
        background: #E8FFF6;
        border-radius: 20px;
        
    }
    .img2{
        position: absolute;
    left: 30px;
    top: 10px;
    border-radius: 5px;
    transform: rotate(28.08deg);
    }
    .para{
        position: absolute;
    left: 80px;
    top: 124px;
    font-family: Teko;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #000000;
    }
    .para1{
        position: absolute;
    left: 80px;
    top: 180px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #7B7C81;
    }
    .third{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 321px;
    height: 58px;
    left: 80px;
    top: 272px;
    }
    .button2{
        position: absolute;
    width: 192px;
    height: 58px;
    left: 0px;
    background: #2DAE7A;
    padding-top: 17px;
    border-radius: 1000px;
    }
    .para2{
        position: absolute;
    left: 206px;
    top: 21px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #2B2B2B;
    
    }
    .img3{
        position: absolute;
        left: 30px;
        top: 10px;
    border-radius: 5px;
    transform: rotate(28.08deg);
    }
    .para3{
        position: absolute;
        left: 80px;
        top: 124px;
        font-family: Teko;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: #000000;   
    }
    .para4{
        position: absolute;
    left: 80px;
    top: 180px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #7B7C81;
    }
  }
 
  @media only screen and (min-width: 576px) and (max-width: 768px) {
    /* For mobile phones: */
    #header{
        position: absolute;
    width: 760px;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #15523A;
    }
    .img{
        position: absolute;
        left: 0px;
        height:70px;
        width:100px;
        top:20px;
    }
    
    .home{
        position: absolute;
        left: 120px;
        top: 35px;
        color:white;
    }
    .about{
        position: absolute;
        left: 170px;
        top: 35px;
        color:white;
    }
    .create{
        position: absolute;
        left: 230px;
        top: 35px;
        color:white;
    }
    .sign{
        position: absolute;
        left: 370px;
        top: 35px;
        color:white;
    }
    .price{
        position: absolute;
        left: 500px;
        top: 35px;
        color:white; 
    }
    .login{
        position: absolute;
        left: 560px;
        top: 35px;
        color:white; 
    }
    .button{
        position: absolute;
        width:150px;
        height:50px;
        left: 600px;
        top: 25px;
        background: #2DAE7A;
    border-radius: 1000px;
    color:white;
    text-align:center;
    padding-top: 0px;
    
    }
    .real{
        position:absolute;
        font-family: Teko;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 54px;
    color: #15523A;
    margin: 20px 0px;
    top:100px;
    left:250px;
    }
    .body{
        position:absolute;
        width: 760px;
        height: 960px;
        background-color: white;
        top:120px;
    }
    .first{
        position: absolute;
    width: 570px;
    height: 336px;
    left: 100px;
    top: 200px;
    
    background: #E8FFF6;
    border-radius: 20px;
    
    }
    .second{
        position: absolute;
        width: 570px;
        height: 336px;
        left: 100px;
        top: 580px;
        
        background: #E8FFF6;
        border-radius: 20px;
        
    }
    .img2{
        position: absolute;
    left: 30px;
    top: 10px;
    border-radius: 5px;
    transform: rotate(28.08deg);
    }
    .para{
        position: absolute;
    left: 80px;
    top: 124px;
    font-family: Teko;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2px;
    color: #000000;
    }
    .para1{
        position: absolute;
    left: 80px;
    top: 180px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #7B7C81;
    }
    .third{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 321px;
    height: 58px;
    left: 80px;
    top: 272px;
    }
    .button2{
        position: absolute;
    width: 192px;
    height: 58px;
    left: 0px;
    background: #2DAE7A;
    padding-top: 17px;
    border-radius: 1000px;
    }
    .para2{
        position: absolute;
    left: 206px;
    top: 21px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: #2B2B2B;
    
    }
    .img3{
        position: absolute;
        left: 30px;
        top: 10px;
    border-radius: 5px;
    transform: rotate(28.08deg);
    }
    .para3{
        position: absolute;
        left: 80px;
        top: 124px;
        font-family: Teko;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.2px;
        color: #000000;   
    }
    .para4{
        position: absolute;
    left: 80px;
    top: 180px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #7B7C81;
    }
  }